<div class="henchmen">
	<h2>
		<span class="your-name-display">Hey</span>, select your opponent.
	</h2>
	<div class="opponents-selection-container clearfix"><!--handlebars template--></div>
	<button class="confirm-opponent btn-centered disabled" disabled="disabled">Confirm opponent</button>
</div>
<div class="final-boss">
	<h1 class="boss-time-headline">Final boss time!</h1>
	<button class="confirm-opponent disabled" disabled="disabled">Confirm opponent</button>
</div>


