<div class="credits-container">
	<div class="credits-win-message">
		<h2>You are an amazing champion!</h2>
		<h3>Those baddies were no match for you, <span class="your-name-display"></span></h3>
	</div>
	<div class="credits-actual-credits">
		<h4>Game design</h4>
		<p>Rich Finelli</p>
		<h4>User experience design</h4>
		<p>Rich Finelli</p>
		<h4>Interaction Design</h4>
		<p>Rich Finelli</p>
		<h4>Development Lead</h4>
		<p>Rich Finelli</p>
		<h4>Story</h4>
		<p>Rich Finelli</p>
		<h4>Quality Assurance Engineering</h4>
		<p>Rich Finelli</p>
		<h4>Original Screenplay</h4>
		<p>Rich Finelli</p>
		<h4>Boom Operator</h4>
		<p>Rich Finelli</p>
		<h4>Stunt Coordinator</h4>
		<p>Rich Finelli</p>
		<h4>Special FX</h4>
		<p>Rich Finelli</p>
		<h4>Director of Animations</h4>
		<p>Miramoto Yamiguchi</p>
		<h4>Test Subject #1</h4>
		<p>Renee Finelli</p>
		<h4>Test Subject #2</h4>
		<p>Harper Finelli</p>
		<h4>Special Thanks</h4>
		<p>Renee Finelli, Rebecca Finelli</p>
	</div>
	<div class="credits-baddies"></div>
	<h4>Thank you for playing!</h4>
</div>