<h2>
	<span class="instructions-container">
		<span class="instructions-text">You choose first,<br> </span><span class="your-name-display">you</span>.
	</span>
	<div class="loading hide">
		<figure class="icon icon-rock first"></figure>
		<figure class="icon icon-paper"></figure>
		<figure class="icon icon-scissors"></figure>
	</div>
</h2>
<section class="choice-container clearfix">
		<input class="rps-radio" type="radio" name="rock-paper-scissors" id="rock" value="rock">
		<label class="icon icon-rock first" for="rock"></label>
		
		<input class="rps-radio" type="radio" name="rock-paper-scissors" id="paper" value="paper">
		<label class="icon icon-paper" for="paper"></label>
		
		<input class="rps-radio" type="radio" name="rock-paper-scissors" id="scissors" value="scissors">
		<label class="icon icon-scissors" for="scissors"></label>
</section>
<button class="play-rps btn-centered">Choose</button>
<section class="round-results-container">
	<p class="opponents-choice"></p>
</section>
<section class="winner-announcement hide">
	<h2></h2>
</section>
