<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="An adventure story. You challenging the baddest baddies in a battle of rock, paper, scissors.">
	<meta name="twitter:site" content="@rich_ard_f" />
	<meta name="twitter:creator" content="@rich_ard_f" />
	<title>Rock, Paper, Scissors Battle</title>
	<link href="build/css/app.css" rel="stylesheet"></link>
</head>
<body class="page-game">
	<section class="top-header">
		<p class="your-experience-container hide">Your experience points: <span class="experience-points">0</span></p>
	</section>
	<header>
		<div class="wrapper">
			<a class="rps-logo" href="index.html" title="Home" aria-labelledby="logo-text">
				<span id="logo-text" class="sr-only" aria-hidden="true">Home</span>
				<svg class="icon-rock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 320"><path fill="#FF5D5D" d="M360.1 129.5l-34.6-72.8-59.4 7.5L227.9 0h-90.5L102 68.5l-35.5 9.6L28.4 153 0 244l106.4 76h224.4l69.2-78.1v-53.5l-39.9-58.9zm11 101.3l-59.3 64.7H119.5l-91.2-62.9 24.3-75.4 32.7-62.1 20.6-5.4L124 134l48 26 6 40 22-3-10-59-45-20-24.3-40.1 25.5-47.5h77.5l32.7 53.2 50.9-6.2 29.6 60.3 34.2 48.8v44.3z"/></svg>
				<svg class="icon-paper" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275 320"><g fill="#FF5D5D"><path d="M115.2.3h-14.3l-.2-.3L.1 101.9H0V320h275V.3H115.2zm-14.4 20.8v80.7H21.1l79.7-80.7zm158.6 281.3H14.9v-186h100.4V16h144.1v286.4z"/><path d="M23.4 151.2h228.3v17.6H23.4zM23.3 203.4h228.3V221H23.3zM126.2 98h125.4v17.6H126.2zM23 256.1h228.3v17.6H23zM125.9 45.2h125.4v17.6H125.9z"/></g></svg>
				<svg class="icon-scissors" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400"><path fill="#FF5D5D" d="M267.7 322.9c-2.3-27.7-16.3-50.9-34.8-61.9L148.4 83.6S110.9-8.7 76.5.7l109.9 259.5c-20.5 11.8-33.5 39.7-30.8 71 3.4 40.2 31.2 71 62.2 68.7s53.3-36.7 49.9-77zM251 335.5c-5.8 25.2-28.2 42.1-50 37.8-21.8-4.4-34.7-28.4-28.9-53.6 5.8-25.2 28.2-42.1 50-37.8 21.7 4.3 34.7 28.3 28.9 53.6z"/><path fill="#FF5D5D" d="M398.7 279c7.8-28-19.8-59-61.7-69.1-32.6-7.9-64.3-.9-80.4 15.9L1.9 79.4c-15.9 29.9 74.9 80.5 74.9 80.5l172.5 108.7c8.4 19 30.5 35.8 59.3 42.8 42 10.1 82.3-4.4 90.1-32.4zm-125.4-16.7c-.8-20.7 21-38.3 48.6-39.2 27.7-.9 50.7 15.1 51.5 35.9.8 20.7-21 38.3-48.6 39.2-27.6.9-50.7-15.2-51.5-35.9z"/><ellipse fill="#ffffff" cx="185.2" cy="208.7" rx="9.3" ry="8.7"/></svg>
			</a>
			<p class="best-of hide">Best of <span class="play-to-display">0</span></p>
			<div class="score-card flex hide">
				<div class="score-bubble score-bubble-you clearfix">
					<p class="your-name-display">You</p>
					<p class="your-score">0</p>
				</div>
				<div class="score-bubble score-bubble-opponent clearfix">
					<p class="opponents-name-display">Opponent</p>
					<p class="opponents-score">0</p>
				</div>
			</div>
			<a class="top-scores" href="leader-board.html">Top scores</a>
		</div>
	</header>
	<main>
		<section class="getting-started wrapper">
			<!--game title-->
			<h1>Rock, Paper, Scissors</h1>
			<p>The in-beta, epic, and over-hyped adventure game that tests your skill, luck, and determination!</p>
			
			<div class="your-name-container">
				<!-- your name input -->
				<input type="text" aria-label="Your name" class="new-player hide" id="your-name" name="your-name" placeholder="Your name" value="" autofocus>

				<!--returnnig player-->
				<h3 class="returning-player returning-player-welcome hide">Welcome back, <span class="your-name-display">[your-name]</span>!</h3>
			</div>
			<!-- best of choice -->
			<section class="choice-container clearfix">
				<input class="rps-play-to" type="radio" name="playTo" id="bestOf3" value="2" checked="checked">
				<label for="bestOf3" class="first">Best of 3</label>

				<input class="rps-play-to" type="radio" name="playTo" id="bestOf5" value="3">
				<label for="bestOf5">Best of 5</label>

				<input class="rps-play-to" type="radio" name="playTo" id="bestOf7" value="4">
				<label for="bestOf7">Best of 7</label>
			</section>
			<!-- button: start game -->
			<button class="lets-go">Let's go!</button>
			<a href="#" class="returning-player change-your-name block hide">Not <span class="your-name-display"></span>?</a>
		</section>
		<section class="choose-opponent wrapper"></section>
		<section class="play-game wrapper"></section>
		<section class="the-winner wrapper"></section>
		<section class="credits hide wrapper"></section>
	</main>	
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'>
<!-- 
===============
Handlebars opponent selection template
===============
-->
<script type="text/x-handlebars-template" id="opponents-template">
	{{#badGuys}}
	<div class="opponent-container opponent-{{shortCode}}">
		<figure data-opponent-id="{{id}}">
			<div class="opponent-indication">&check;</div>
			<p class="opponent-level">{{skill}}</p>
			<img src="build/images/{{shortCode}}.jpg" alt="{{name}}">
			<figcaption>
				<h3>{{name}}<h3>
			</figcaption>
		</figure>
	</div>
	<aside class="opponent-bio bio-id-{{id}} hide">
		<a href="#" class="close-opponent-bio">&#10006; back</a>
		<img src="build/images/{{shortCode}}.jpg" alt="{{name}}">
		<h1>{{name}}</h1>
		<button class="proceed-to-play non-boss-opponents">Play!</button>
		<p class="bold">Tendencies:</p>
		<p>{{tendencies}}</p>
		<p class="bold">Background:</p>
		<p>{{bio}}</p>
	</aside>
	{{/badGuys}}
</script>
<!-- template used for credits -->
<script type="text/x-handlebars-template" id="credits-opponents-template">
	{{#badGuys}}
	<div class="opponent-container opponent-{{shortCode}}">
		<figure data-opponent-id="{{id}}">
			<img src="build/images/{{shortCode}}.jpg" alt="{{name}}">
			<figcaption>
				<h3>{{name}}<h3>
				<p>{{slogan}}</p>
			</figcaption>
		</figure>	
	</div>
	{{/badGuys}}
</script>
	<script src="build/js/app.js"></script>
</body>
</html>