
button {
  padding: 1em;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  font-weight: 700;
  background: $primary;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    background: darken($primary, 5%);
  }
  &.disabled {
    cursor: not-allowed;
    background-color: lighten($primary, 30%);
    color: lighten($primary, 10%);
    border-color: $primary;
  }
  @include respond-to(phone-landscape) {
    font-size: 1em;
  }
}
.btn-centered {
	position: relative;
	width: 40%;
	left: 50%;
	@include translateX(-50%);
}