
.choose-opponent {
	padding-bottom: 25px;
	h2 {
		margin-bottom: 25px;
	}
	@at-root .opponents-selection-container {
		margin-bottom: 50px;
		@include respond-to(phone-landscape) {
			margin-bottom: 0;
		}
	}
	.opponent-container {	
		float: left;
		width: 25%;
		padding-left: 2.5%;
		padding-right: 2.5%;
		box-sizing: border-box;
		@include respond-to(phone-landscape) {
			float: left;
			width: 50%;
			padding: 0 2.5%;
			margin: 0 auto 50px auto;
		}
	}
	figure {
		position: relative;
		figcaption {
			text-align: center;
		}

		.opponent-indication {
		    margin: 0 0 0 17px;
		    padding: 0;
		    background: $primary;
		    width: 40px;
		    height: 40px;
		    text-align: center;
		    line-height: 40px;
		    border-radius: 50%;
		    font-size: 32px;
		    color: #FFF;
		    position: absolute;
		    top: 0;
		    left: 0;
		    display: none;
		    @include respond-to(tablet-portrait) {
		    	width: 20px;
		    	height: 20px;
		    	line-height: 20px;
		    	font-size: 15px;
		    	margin: 0;
		    }
		    @include respond-to(phone-landscape) {
		    	width: 25px;
		    	height: 25px;
		    	line-height: 25px;
		    	font-size: 18px;
		    }
		}
		&.active {
			.opponent-indication {
				display: block;
			}
			img {
				opacity: 1;
				border-color: $primary;
			}
			.selected {
				display: block;
			}
		}

		&:hover {
			cursor: pointer;
			img {
				opacity: 1;
			}
		}
		&.defeated.defeated {
			opacity: .5;
			cursor: not-allowed;
			&:hover {
				img {opacity: .75;}
			}
			.opponent-indication {
				display: block;
				background-color: #000;
			}
		}
	}

	img {
		opacity: .75;
		border-radius: 50%;
		border: 5px solid transparent;
		box-sizing: border-box;
	}
}
.open-opponent-bio {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	height: 20px;
	width: 20px;
	line-height: 20px;
	background: $primary;
	color: white;
	&:focus,
	&:active,
	&:hover {
		color: white;
		text-decoration: none;
	}
}
.opponent-level {
	text-align: center;
    font-weight: 700;
    color: $primary;
}
.opponent-bio {
	&.is-presented {
		display: flex;
		//height: 800px
	}
    align-items: center;
    flex-direction: column;
	padding: 25px;
	// background: lighten($primary, 20%);
	// background: repeating-linear-gradient(
	//   45deg,
	//   lighten($primary, 20%),
	//   lighten($primary, 20%) 50px,
	//   lighten($primary, 22%) 50px,
	//   lighten($primary, 22%) 100px
	// );
	h1 {
		font-size: 2em;
		margin-bottom: 20px;
	}
	text-align: center;
	img {
		max-width: 200px;
		@include respond-to(phone-landscape) {
			max-width: 150px;
		}
	}
	&.open {
		display: block;
	}
	p {
		text-align: left;
		margin-bottom: 10px;
		max-width: 600px;
	}
}
.proceed-to-play {
	width: 250px;
	margin-bottom: 25px;
}
.close-opponent-bio {
	position: absolute;
	top: 2em;
	right: 2em;
	color: #000;
	&:hover {
		color: $primary;
		text-decoration: none;
	}
}

.final-boss {
	display: none;
	&.show-boss {
		display: flex;
		&.bio-is-open {
			display: block;
		}
	}
    align-items: center;
    flex-direction: column;
    //background-color: rgba($pop, .9);
	h1 {
		text-align: center;
		font-size: 2.5em;
		margin-top: 20px;
	}
	@include transition;
	.opponent-container {	
	    width: 250px;
	    margin: 50px auto 15px auto;
    	float: none;
    }
    figure {
    	width: auto;
    	padding: 0;
	}
	img {
		opacity: 1;
	}
	button {
		margin-top: 20px;
	    width: 250px;
	}
}



