.credits {
	overflow: hidden;
	text-align: center;
	.credits-win-message {
		margin: 100px 0;
		h2 {
			margin-bottom: 50px;
		}
	}
	.credits-actual-credits {
		h4 {
			font-size: 1.5em;
		}
		h4 + p {
			margin-bottom: 150px;
		}
	}
	.credits-baddies {
		img {
			border-radius: 50%;
			max-width: 35%;
		}
		.opponent-container {
			margin-bottom: 100px;
		}
	}
}