.top-header {
	background-color: lighten($pop, 10%);
}

.your-experience-container {
	font-size: 1em;
	line-height: 2;
    text-align: center;
    @include respond-to(phone-landscape) {
    	font-size: .8em;
    	line-height: 1.8;
    }
}
header {
	background-color: $primary;
	padding: 20px 0;
	margin-bottom: 25px;
	@include respond-to(phone-landscape) {
		padding: 10px 0;
		margin-bottom: 15px;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include respond-to(phone-landscape) {
			flex-direction: column;
		}
	}
}

.rps-logo {
	display: block;
	svg {
		width: 50px;
		@include transition;
		path {
			fill: #fff;
		}
		ellipse {
			fill: $primary;
		}

	}
	@include respond-to(phone-landscape) {
	    display: flex;
	    justify-content: center;
	    align-items: center;
		svg {
			width: 25px;
			padding: 0 5px;
		}
	}
	&:hover {	
		svg {
			&:nth-of-type(1) {
				@include translateX(25%);
			}
			&:nth-of-type(2) {
				@include translateY(25%);
			}
			&:nth-of-type(3) {
				@include translateX(-25%);
			}
		}
	}
}
.score-card {
	@include respond-to(phone-landscape) {
	    justify-content: center;
	    align-items: center;
		svg {
			width: 25px;
			padding: 0 5px;
		}
	}
	.score-bubble {
		float: left;
		color: white;
		text-align: center;
		p {
			@include respond-to(phone-landscape) {
				display: inline-block;
			}
		}
	}
	.score-bubble-opponent {
		margin-left: 20px;
		border-left: 1px solid #FFF;
    	padding-left: 20px;
		@include respond-to(phone-landscape) {
			border: none;
			padding-left: 0;
		}
	}
	.your-name-display,
	.opponents-name-display {
		font-weight: 700;
	}
	.your-score,
	.opponents-score {
	    font-size: 2em;
	    line-height: 1;
	    @include respond-to(phone-landscape) {
	    	font-size: 1em;
	    }
	}
}
.best-of {
	color: #FFF;
    font-size: 1.25em;
    text-align: center;
    font-weight: bold;
	@include respond-to(phone-landscape) {
	    font-size: .75em;
	    order: 3;
	}
}
.top-scores {
	color: white;
	font-weight: bold;
	padding: 10px;
	background-color: lighten($primary, 5%);
	&:hover {
		color: white;
		text-decoration: none;
		background-color: lighten($primary, 10%);
	}
	@include respond-to(phone-landscape) {
		font-weight: normal;
		margin-top: 15px;
		font-size: .75em;
		padding: 7.5px;
	}
}