.icon {
	background-repeat: no-repeat;
	&.icon-paper {
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20275%20320%22%3E%3Cg%20fill%3D%22%23FF5D5D%22%3E%3Cpath%20d%3D%22M115.2.3h-14.3l-.2-.3L.1%20101.9H0V320h275V.3H115.2zm-14.4%2020.8v80.7H21.1l79.7-80.7zm158.6%20281.3H14.9v-186h100.4V16h144.1v286.4z%22/%3E%3Cpath%20d%3D%22M23.4%20151.2h228.3v17.6H23.4zM23.3%20203.4h228.3V221H23.3zM126.2%2098h125.4v17.6H126.2zM23%20256.1h228.3v17.6H23zM125.9%2045.2h125.4v17.6H125.9z%22/%3E%3C/g%3E%3C/svg%3E');
	}
	&.icon-rock {
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20400%20320%22%3E%3Cpath%20fill%3D%22%23FF5D5D%22%20d%3D%22M360.1%20129.5l-34.6-72.8-59.4%207.5L227.9%200h-90.5L102%2068.5l-35.5%209.6L28.4%20153%200%20244l106.4%2076h224.4l69.2-78.1v-53.5l-39.9-58.9zm11%20101.3l-59.3%2064.7H119.5l-91.2-62.9%2024.3-75.4%2032.7-62.1%2020.6-5.4L124%20134l48%2026%206%2040%2022-3-10-59-45-20-24.3-40.1%2025.5-47.5h77.5l32.7%2053.2%2050.9-6.2%2029.6%2060.3%2034.2%2048.8v44.3z%22/%3E%3C/svg%3E');
	}
	&.icon-scissors {
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20400%20400%22%3E%3Cpath%20fill%3D%22%23FF5D5D%22%20d%3D%22M267.7%20322.9c-2.3-27.7-16.3-50.9-34.8-61.9L148.4%2083.6S110.9-8.7%2076.5.7l109.9%20259.5c-20.5%2011.8-33.5%2039.7-30.8%2071%203.4%2040.2%2031.2%2071%2062.2%2068.7s53.3-36.7%2049.9-77zM251%20335.5c-5.8%2025.2-28.2%2042.1-50%2037.8-21.8-4.4-34.7-28.4-28.9-53.6%205.8-25.2%2028.2-42.1%2050-37.8%2021.7%204.3%2034.7%2028.3%2028.9%2053.6z%22/%3E%3Cpath%20fill%3D%22%23FF5D5D%22%20d%3D%22M398.7%20279c7.8-28-19.8-59-61.7-69.1-32.6-7.9-64.3-.9-80.4%2015.9L1.9%2079.4c-15.9%2029.9%2074.9%2080.5%2074.9%2080.5l172.5%20108.7c8.4%2019%2030.5%2035.8%2059.3%2042.8%2042%2010.1%2082.3-4.4%2090.1-32.4zm-125.4-16.7c-.8-20.7%2021-38.3%2048.6-39.2%2027.7-.9%2050.7%2015.1%2051.5%2035.9.8%2020.7-21%2038.3-48.6%2039.2-27.6.9-50.7-15.2-51.5-35.9z%22/%3E%3Cellipse%20fill%3D%22%23ffffff%22%20cx%3D%22185.2%22%20cy%3D%22208.7%22%20rx%3D%229.3%22%20ry%3D%228.7%22/%3E%3C/svg%3E');
	}
}

//just in case in need the white versions as their own class...

.icon-paper-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M172.1%2C0.4h-17.9L154%2C0L28.2%2C127.4h-0.1V400h343.8V0.4H172.1z%20M154.1%2C26.4v100.9H54.5L154.1%2C26.4z%0D%0A%09%09%20M352.4%2C378H46.8V145.5h125.5V20h180.1L352.4%2C378L352.4%2C378z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M57.4%2C189h285.4v22H57.4V189z%20M57.2%2C254.2h285.4v22H57.2V254.2z%20M185.9%2C122.5h156.8v22H185.9V122.5z%0D%0A%09%09%20M56.9%2C320.1h285.4v22H56.9V320.1z%20M185.5%2C56.5h156.8v22H185.5V56.5z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
}

.icon-rock-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M360.1%2C169.5l-34.6-72.8l-59.4%2C7.5L227.9%2C40h-90.5L102%2C108.5l-35.5%2C9.6L28.4%2C193L0%2C284l106.4%2C76h224.4%0D%0A%09l69.2-78.1v-53.5L360.1%2C169.5z%20M371.1%2C270.8l-59.3%2C64.7H119.5l-91.2-62.9l24.3-75.4l32.7-62.1l20.6-5.4L124%2C174l48%2C26l6%2C40l22-3%0D%0A%09l-10-59l-45-20l-24.3-40.1l25.5-47.5h77.5l32.7%2C53.2l50.9-6.2l29.6%2C60.3l34.2%2C48.8V270.8L371.1%2C270.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
}

.icon-scissors-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M337%2C209.9c-32.6-7.9-64.3-0.9-80.4%2C15.9l-55.7-32L148.4%2C83.6c0%2C0-37.5-92.3-71.9-82.9l68.1%2C160.7L1.9%2C79.4%0D%0A%09c-15.9%2C29.9%2C74.9%2C80.5%2C74.9%2C80.5l91.6%2C57.7l18%2C42.6c-20.5%2C11.8-33.5%2C39.7-30.8%2C71c3.4%2C40.2%2C31.2%2C71%2C62.2%2C68.7s53.3-36.7%2C49.9-77v0%0D%0A%09c-2.3-27.7-16.3-50.9-34.8-61.9l-1.9-3.9l18.3%2C11.5c8.4%2C19%2C30.5%2C35.8%2C59.3%2C42.8c42%2C10.1%2C82.3-4.4%2C90.1-32.4v0%0D%0A%09C406.5%2C251%2C378.9%2C220%2C337%2C209.9z%20M185.2%2C217.4c-5.1%2C0-9.3-3.9-9.3-8.7s4.2-8.7%2C9.3-8.7s9.3%2C3.9%2C9.3%2C8.7S190.3%2C217.4%2C185.2%2C217.4z%0D%0A%09%20M251%2C335.5c-5.8%2C25.2-28.2%2C42.1-50%2C37.8c-21.8-4.4-34.7-28.4-28.9-53.6c5.8-25.2%2C28.2-42.1%2C50-37.8%0D%0A%09C243.8%2C286.2%2C256.8%2C310.2%2C251%2C335.5z%20M324.8%2C298.2c-27.6%2C0.9-50.7-15.2-51.5-35.9s21-38.3%2C48.6-39.2c27.7-0.9%2C50.7%2C15.1%2C51.5%2C35.9%0D%0A%09C374.2%2C279.7%2C352.4%2C297.3%2C324.8%2C298.2z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
}