.isolation-mode {
  .top-header, 
  header {
    display: none;
  }
  .choose-opponent {
    h2 {
      display: none;
    }
  }
  .confirm-opponent.non-boss-opponents {
    display: none;
  }
  .wrapper {
    width: auto;
    padding: 0;
    margin: 0;
  }
  background: lighten($primary, 20%);
  background: repeating-linear-gradient(
    45deg,
    lighten($primary, 20%),
    lighten($primary, 20%) 30px,
    lighten($primary, 22%) 30px,
    lighten($primary, 22%) 71px
  );
}

