
h1 {
	color: $primary;
	text-align: center;
	margin-bottom: 30px;
}
.leader-row {
	display: flex;
	justify-content: space-between;
	padding: 20px;	
	color: $primary;
	&:nth-child(even) {
		background-color: lighten($pop, 25%);
	}
	&:nth-child(odd) {
		background-color: lighten($pop, 20%);
	}
	&.leader-totals {
		font-weight: bold;
	    background: $primary;
	    color: #FFF;
	    padding: 10px 20px;
	    margin-bottom: 10px;
	}
}