
.play-game {
	h2 {
		text-align: center;
		margin-bottom: 25px;
		height: 60px;
		@include respond-to(phone-landscape) {
			margin-bottom: 15px;
		}
	}
	br {
		@media all and (min-width: 500px) {
			display: none;
		}
	}
	label {
		width: 150px;
		height: 150px;
		background-position: center center;
		background-size: 50%;
		@include respond-to(phone-landscape) {
			width: 100px;
			height: 100px;
		}
		@include respond-to(phone-portrait) {
			width: 80px;
			height: 80px;
		}
	}
}
//choice container shared between yourName and playGame
.choice-container {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	@include respond-to(phone-landscape) {
		margin-bottom: 15px;
	}
	label {
		box-sizing: border-box;
		border: 5px solid $primary;
		border-radius: 50%;
		color: $primary;
		text-align: center;
		transition: background-color ease-in-out .15s;
		.getting-started & {
		    border-radius: 0;
		    width: 150px;
		    border-width: 1px;
		    padding: 1em;
		}
		&.disabled {
		    cursor: not-allowed;
		    background-color: lighten($primary, 30%);
		    color: lighten($primary, 10%);
		    border-color: $primary;
		}
	}
	input {
		//display: none;
		position: absolute;
		opacity: 0;
	}
}
.icon-paper-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M172.1%2C0.4h-17.9L154%2C0L28.2%2C127.4h-0.1V400h343.8V0.4H172.1z%20M154.1%2C26.4v100.9H54.5L154.1%2C26.4z%0D%0A%09%09%20M352.4%2C378H46.8V145.5h125.5V20h180.1L352.4%2C378L352.4%2C378z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M57.4%2C189h285.4v22H57.4V189z%20M57.2%2C254.2h285.4v22H57.2V254.2z%20M185.9%2C122.5h156.8v22H185.9V122.5z%0D%0A%09%09%20M56.9%2C320.1h285.4v22H56.9V320.1z%20M185.5%2C56.5h156.8v22H185.5V56.5z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
}

.icon-rock-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M360.1%2C169.5l-34.6-72.8l-59.4%2C7.5L227.9%2C40h-90.5L102%2C108.5l-35.5%2C9.6L28.4%2C193L0%2C284l106.4%2C76h224.4%0D%0A%09l69.2-78.1v-53.5L360.1%2C169.5z%20M371.1%2C270.8l-59.3%2C64.7H119.5l-91.2-62.9l24.3-75.4l32.7-62.1l20.6-5.4L124%2C174l48%2C26l6%2C40l22-3%0D%0A%09l-10-59l-45-20l-24.3-40.1l25.5-47.5h77.5l32.7%2C53.2l50.9-6.2l29.6%2C60.3l34.2%2C48.8V270.8L371.1%2C270.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
}

.icon-scissors-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M337%2C209.9c-32.6-7.9-64.3-0.9-80.4%2C15.9l-55.7-32L148.4%2C83.6c0%2C0-37.5-92.3-71.9-82.9l68.1%2C160.7L1.9%2C79.4%0D%0A%09c-15.9%2C29.9%2C74.9%2C80.5%2C74.9%2C80.5l91.6%2C57.7l18%2C42.6c-20.5%2C11.8-33.5%2C39.7-30.8%2C71c3.4%2C40.2%2C31.2%2C71%2C62.2%2C68.7s53.3-36.7%2C49.9-77v0%0D%0A%09c-2.3-27.7-16.3-50.9-34.8-61.9l-1.9-3.9l18.3%2C11.5c8.4%2C19%2C30.5%2C35.8%2C59.3%2C42.8c42%2C10.1%2C82.3-4.4%2C90.1-32.4v0%0D%0A%09C406.5%2C251%2C378.9%2C220%2C337%2C209.9z%20M185.2%2C217.4c-5.1%2C0-9.3-3.9-9.3-8.7s4.2-8.7%2C9.3-8.7s9.3%2C3.9%2C9.3%2C8.7S190.3%2C217.4%2C185.2%2C217.4z%0D%0A%09%20M251%2C335.5c-5.8%2C25.2-28.2%2C42.1-50%2C37.8c-21.8-4.4-34.7-28.4-28.9-53.6c5.8-25.2%2C28.2-42.1%2C50-37.8%0D%0A%09C243.8%2C286.2%2C256.8%2C310.2%2C251%2C335.5z%20M324.8%2C298.2c-27.6%2C0.9-50.7-15.2-51.5-35.9s21-38.3%2C48.6-39.2c27.7-0.9%2C50.7%2C15.1%2C51.5%2C35.9%0D%0A%09C374.2%2C279.7%2C352.4%2C297.3%2C324.8%2C298.2z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
}
.play-game {
	input:checked + label { 
		//YOUR CHOICE
		background-color: $primary;
		border-color: lighten($primary, 15%);
		&.icon-paper {
			background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M172.1%2C0.4h-17.9L154%2C0L28.2%2C127.4h-0.1V400h343.8V0.4H172.1z%20M154.1%2C26.4v100.9H54.5L154.1%2C26.4z%0D%0A%09%09%20M352.4%2C378H46.8V145.5h125.5V20h180.1L352.4%2C378L352.4%2C378z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M57.4%2C189h285.4v22H57.4V189z%20M57.2%2C254.2h285.4v22H57.2V254.2z%20M185.9%2C122.5h156.8v22H185.9V122.5z%0D%0A%09%09%20M56.9%2C320.1h285.4v22H56.9V320.1z%20M185.5%2C56.5h156.8v22H185.5V56.5z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
		}
		&.icon-rock {
			background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M360.1%2C169.5l-34.6-72.8l-59.4%2C7.5L227.9%2C40h-90.5L102%2C108.5l-35.5%2C9.6L28.4%2C193L0%2C284l106.4%2C76h224.4%0D%0A%09l69.2-78.1v-53.5L360.1%2C169.5z%20M371.1%2C270.8l-59.3%2C64.7H119.5l-91.2-62.9l24.3-75.4l32.7-62.1l20.6-5.4L124%2C174l48%2C26l6%2C40l22-3%0D%0A%09l-10-59l-45-20l-24.3-40.1l25.5-47.5h77.5l32.7%2C53.2l50.9-6.2l29.6%2C60.3l34.2%2C48.8V270.8L371.1%2C270.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
		}
		&.icon-scissors {
			background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M337%2C209.9c-32.6-7.9-64.3-0.9-80.4%2C15.9l-55.7-32L148.4%2C83.6c0%2C0-37.5-92.3-71.9-82.9l68.1%2C160.7L1.9%2C79.4%0D%0A%09c-15.9%2C29.9%2C74.9%2C80.5%2C74.9%2C80.5l91.6%2C57.7l18%2C42.6c-20.5%2C11.8-33.5%2C39.7-30.8%2C71c3.4%2C40.2%2C31.2%2C71%2C62.2%2C68.7s53.3-36.7%2C49.9-77v0%0D%0A%09c-2.3-27.7-16.3-50.9-34.8-61.9l-1.9-3.9l18.3%2C11.5c8.4%2C19%2C30.5%2C35.8%2C59.3%2C42.8c42%2C10.1%2C82.3-4.4%2C90.1-32.4v0%0D%0A%09C406.5%2C251%2C378.9%2C220%2C337%2C209.9z%20M185.2%2C217.4c-5.1%2C0-9.3-3.9-9.3-8.7s4.2-8.7%2C9.3-8.7s9.3%2C3.9%2C9.3%2C8.7S190.3%2C217.4%2C185.2%2C217.4z%0D%0A%09%20M251%2C335.5c-5.8%2C25.2-28.2%2C42.1-50%2C37.8c-21.8-4.4-34.7-28.4-28.9-53.6c5.8-25.2%2C28.2-42.1%2C50-37.8%0D%0A%09C243.8%2C286.2%2C256.8%2C310.2%2C251%2C335.5z%20M324.8%2C298.2c-27.6%2C0.9-50.7-15.2-51.5-35.9s21-38.3%2C48.6-39.2c27.7-0.9%2C50.7%2C15.1%2C51.5%2C35.9%0D%0A%09C374.2%2C279.7%2C352.4%2C297.3%2C324.8%2C298.2z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
		}
		//your choice, DISABLED
		&.disabled {
		    background-color: lighten($primary, 15%);
		    color: darken(#fff, 5%);
		    border-color: $primary;
		}
		
		//you and the opponent - SAME CHOICE
		&.opponents-choice-active { 
			background-color: deeppink;
			border-color: lighten(deeppink, 15%);
		}
	}
	
	//OPPONENTS CHOICE
	.opponents-choice-active { 
		background-color: $pop;
		border-color: darken($pop, 50%);
		&.icon-paper {
			background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M172.1%2C0.4h-17.9L154%2C0L28.2%2C127.4h-0.1V400h343.8V0.4H172.1z%20M154.1%2C26.4v100.9H54.5L154.1%2C26.4z%0D%0A%09%09%20M352.4%2C378H46.8V145.5h125.5V20h180.1L352.4%2C378L352.4%2C378z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M57.4%2C189h285.4v22H57.4V189z%20M57.2%2C254.2h285.4v22H57.2V254.2z%20M185.9%2C122.5h156.8v22H185.9V122.5z%0D%0A%09%09%20M56.9%2C320.1h285.4v22H56.9V320.1z%20M185.5%2C56.5h156.8v22H185.5V56.5z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
		}
		&.icon-rock {
			background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M360.1%2C169.5l-34.6-72.8l-59.4%2C7.5L227.9%2C40h-90.5L102%2C108.5l-35.5%2C9.6L28.4%2C193L0%2C284l106.4%2C76h224.4%0D%0A%09l69.2-78.1v-53.5L360.1%2C169.5z%20M371.1%2C270.8l-59.3%2C64.7H119.5l-91.2-62.9l24.3-75.4l32.7-62.1l20.6-5.4L124%2C174l48%2C26l6%2C40l22-3%0D%0A%09l-10-59l-45-20l-24.3-40.1l25.5-47.5h77.5l32.7%2C53.2l50.9-6.2l29.6%2C60.3l34.2%2C48.8V270.8L371.1%2C270.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
		}
		&.icon-scissors {
			background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20400%20400%22%20enable-background%3D%22new%200%200%20400%20400%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M337%2C209.9c-32.6-7.9-64.3-0.9-80.4%2C15.9l-55.7-32L148.4%2C83.6c0%2C0-37.5-92.3-71.9-82.9l68.1%2C160.7L1.9%2C79.4%0D%0A%09c-15.9%2C29.9%2C74.9%2C80.5%2C74.9%2C80.5l91.6%2C57.7l18%2C42.6c-20.5%2C11.8-33.5%2C39.7-30.8%2C71c3.4%2C40.2%2C31.2%2C71%2C62.2%2C68.7s53.3-36.7%2C49.9-77v0%0D%0A%09c-2.3-27.7-16.3-50.9-34.8-61.9l-1.9-3.9l18.3%2C11.5c8.4%2C19%2C30.5%2C35.8%2C59.3%2C42.8c42%2C10.1%2C82.3-4.4%2C90.1-32.4v0%0D%0A%09C406.5%2C251%2C378.9%2C220%2C337%2C209.9z%20M185.2%2C217.4c-5.1%2C0-9.3-3.9-9.3-8.7s4.2-8.7%2C9.3-8.7s9.3%2C3.9%2C9.3%2C8.7S190.3%2C217.4%2C185.2%2C217.4z%0D%0A%09%20M251%2C335.5c-5.8%2C25.2-28.2%2C42.1-50%2C37.8c-21.8-4.4-34.7-28.4-28.9-53.6c5.8-25.2%2C28.2-42.1%2C50-37.8%0D%0A%09C243.8%2C286.2%2C256.8%2C310.2%2C251%2C335.5z%20M324.8%2C298.2c-27.6%2C0.9-50.7-15.2-51.5-35.9s21-38.3%2C48.6-39.2c27.7-0.9%2C50.7%2C15.1%2C51.5%2C35.9%0D%0A%09C374.2%2C279.7%2C352.4%2C297.3%2C324.8%2C298.2z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
		}
	}
}


.play-rps {
	margin-bottom: 25px;
	@include respond-to(phone-landscape) {
		margin-bottom: 15px;
	}
}
.winner-announcement {
	h2 {
	    text-align: center;
	}
}
.opponents-choice {
	text-align: center;
}
.loading {
	width: auto;
    height: 72px;
    margin: 0 auto;
    .icon {
    	width: 35px;
    	height: 35px;
    	margin-top: 15px;
    	display: inline-block;
    }
}




