
// Modular Styles
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
}
.bold {
	font-weight: bold;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.inline {
	display: inline;
}
.flex {
	display: flex;
}
.hidden {
	visibility: hidden;
}
.hide {
	display: none;
}
.sr-only {  //screen reader only
	/*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} 
body:hover .sr-only a, 
body:hover .sr-only input, 
body:hover .sr-only button { 
	display: none !important; 
} 
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.text-centered {
	text-align: center;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-25 {
	margin-bottom: 25px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-5 {
	margin-bottom: 5px;
}
.line {
		border-bottom: 1px solid $gray-light;
}

