.the-winner {
	padding-bottom: 25px;
	
	h1 {
	    text-align: center;
	    margin-bottom: 20px;
	}
	h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	figure {
		max-width: 200px;
		margin: 0 auto;
		img {
			border-radius: 50%;
		}
		@include respond-to(phone-landscape) {
			max-width: 50%;
		}
	}
}