

::-webkit-input-placeholder {
    color: lighten($primary, 15%);
}

::-moz-placeholder {
    color: lighten($primary, 15%);
}
.getting-started {
  &.wrapper {
    width: 50%;
    @include respond-to(phone-landscape) {
      width: 90%;
    }
  }
  h1 {
   text-align: center;
   color: $primary;
   margin-bottom: 10px; 
  }
  p {
    text-align: center;
    margin-bottom: 20px;
    color: $primary;
  }
  //your-name-container
  .your-name-container {
    min-height: 78px;
    margin-bottom: 25px;
    @include respond-to(phone-landscape) {
      min-height: 52px;
      margin-bottom: 10px;
    }
  }
  //enter your name
  input {
    border: 1px solid $primary;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    width: 100%;
    color: $primary;
    font-size: 1.5em;
    font-weight: 700;
    //margin-bottom: 25px;
    &:focus {
      outline: 0; 
    }
    @include respond-to(phone-landscape) {
      font-size: 1em;
      //margin-bottom: 10px;
    }
  }
  //returning-player-welcome
  .returning-player-welcome {
    color: $primary;
    text-align: center;
    padding-top: 15px;
    @include respond-to(phone-landscape) {
      padding-top: 2px;
    }
  }

//best of 3, 5, 7 container
  .choice-container {
    margin-bottom: 25px;
    @include respond-to(phone-landscape) {
      margin-bottom: 10px;
    }
    label {
      border-left: none;
      width: 33.33333333333%;
      &.first {
        border-left: 1px solid $primary;
      }
    }
    input {
      width: 10px;
    }
    input:checked + label { //your choice styling
      background-color: $primary;
      color: white;
    }



  }
}//getting-started

.change-your-name {
  text-decoration: underline;
  font-size: .75em;
  text-align: center;
  margin-top: 15px; 
}

